.login-form {
  text-align: center;

  label {
    width: 100%;
    font-family: $cloverleaf-font;
  }

  .error {
    display: none;
    background-color: $validate-red;
    margin-top: 25px;
    padding: 25px;

    p {
      color: $white;
      margin: 0;
    }
  }
}

.link-success {
  p {
    color: $validate-green;
  }
}

.newsletter {
  padding: 2.5%;
  background: $grey;

  .cloverleaf-form {
    margin: 0;

    .small {
      font-size: .5rem;
      margin: .3rem 0 0 0;
    }
  }

  p {
    color: $dark-grey;
    text-align: left;
  }

  input[type = text] {
    border-radius: 0;
    padding: 10px 25px;
    font-size: .95rem;
  }

  input[type = submit] {
    border-radius: 0;
    border: 0;
    background-color: $dark-grey;
    color: $white;
    padding: 0 25px;
    font-family: $cloverleaf-font;
    font-size: .95rem;
    text-transform: uppercase;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;

    &:hover {
      background-color: $mid-grey;
    }
  }

  @media (max-width: 767.98px) {
    p {
      text-align: center;
    }

    p.small {
      text-align: left;
    }
  }
}