.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 10px 0;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #dde5e9;

  .profile-logo {
    display: block;

    img {
      max-height: 45px;
    }
  }

  .profile-details {
    margin-left: 15px;

    h2 {
      margin: 0;
    }

    a {
      color: $mid-grey;
      margin: 0;
      transition: 0.45s;

      &:hover {
        color: $black;
        text-decoration: none;
      }
    }
  }
}