body {
  background: $light-grey;
}

.flex-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: inherit;
}

.flex-column {
  width: 25%;
  padding: 10px;
  text-align: center;

  img {
    width: 100%;
  }
}

.flex-large {
  flex-basis: 100%;
  flex-shrink: 0;
}

@media (max-width: 767.98px) {
  .flex-container .flex-column:nth-child(-n+2) {
    order: -1;
  }

  .flex-column {
    width: 50%;
  }

  .flex-large {
    order: -1;
  }
}