h2 {
  font-family: $cloverleaf-font;
  font-weight: 700;
  font-size: 1rem;
}

p {
  font-family: $cloverleaf-font;
  font-size: .95rem;
}

a {
  font-family: $cloverleaf-font;
  font-size: .85rem;
}

.clover-btn {
  border: none;
  border-radius: 0;
  background-color: $dark-grey;
  color: $white;
  padding: 10px 25px;
  font-family: $cloverleaf-font;
  font-size: .95rem;
  text-transform: uppercase;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;

  &:hover {
    background-color: $mid-grey;
    color: $white;
    text-decoration: none;
  }
}