$black: #000;
$dark-grey: #474a4f;
$mid-grey: #7f8d99;
$grey: #e6e6e6;
$light-grey: #f4f6f6;
$white: #fff;
$validate-red: #b32d00;
$validate-green: #009933;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$cloverleaf-font: 'Open Sans', sans-serif;